{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.list' %}">People</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <a class="btn btn-success"
       href="{% url 'people:person.update' pk=person.pk %}">Update</a>

    <hr>

    <h2>Relationships As Source</h2>

    <a class="btn btn-success"
       href="{% url 'people:person.relationship.create' person_pk=person.pk %}">New Relationship
    </a>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Contact Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for relationship in person.relationships_as_source.all %}
                <tr>
                    <td>{{ relationship.target }}</td>
                    <td>
                        <a class="btn btn-sm btn-info"
                           href="{% url 'people:person.detail' pk=relationship.target.pk %}">Profile</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info"
                           href="{% url 'people:relationship.detail' pk=relationship.pk %}">Relationship Detail</a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="2">No known relationships</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    <h2>Relationships As Target</h2>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Contact Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for relationship in person.relationships_as_target.all %}
            <tr>
                <td>{{ relationship.source }}</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       href="{% url 'people:person.detail' pk=relationship.source.pk %}">Profile</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-info"
                       href="{% url 'people:relationship.detail' pk=relationship.pk %}">Relationship Detail</a>
                </td>
            </tr>

        {% empty %}
            <tr>
                <td colspan="2">No known relationships</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
