{% extends 'base.html' %}

{% block extra_head %}
    {{ map_markers|json_script:'map-markers' }}

    {% load staticfiles %}
    <script src="{% static 'js/map.js' %}"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"
                        type="text/javascript"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.list' %}">People</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <h1>{{ person.name }}</h1>

    <hr>

    {% if person.user == request.user or request.user.is_superuser %}
        {% if person.user != request.user and request.user.is_superuser %}
            <div class="alert alert-warning">
                <strong>NB:</strong> You are able to see the details of this person because you are an admin.
                Regular users are not able to see this information for people other than themselves.
            </div>
        {% endif %}


        {% include 'people/person/includes/answer_set.html' %}

        <a class="btn btn-success"
           href="{% url 'people:person.update' pk=person.pk %}">Update</a>

        {% if person.user == request.user %}
            <a class="btn btn-info"
               href="{% url 'password_change' %}?next={{ person.get_absolute_url }}">Change Password</a>
        {% endif %}
    {% endif %}

    <hr>

    <div id="map" style="height: 800px; width: 100%"></div>

    <hr>

    <h2>People I've Answered Questions About</h2>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Contact Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for relationship in person.relationships_as_source.all %}
            <tr>
                <td>{{ relationship.target }}</td>
                <td>
                    <a class="btn btn-sm btn-info"
                        href="{% url 'people:person.detail' pk=relationship.target.pk %}">Profile</a>
                    <a class="btn btn-sm btn-info"
                        href="{% url 'people:relationship.detail' pk=relationship.pk %}">Relationship Detail</a>
                    {% if person.user == request.user or request.user.is_superuser %}
                        <a class="btn btn-sm btn-success"
                            href="{% url 'people:relationship.update' relationship_pk=relationship.pk %}">Update</a>
                    {% endif %}
                </td>
            </tr>

        {% empty %}
            <tr>
                <td colspan="2">No known relationships</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"
        href="{% url 'people:person.relationship.create' person_pk=person.pk %}">New Relationship
        </a>

    <hr>

    <h2>Activities</h2>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>

        <tbody>
        {% for activity in person.activities.all %}
            <tr>
                <td>{{ activity }}</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       href="{% url 'activities:activity.detail' pk=activity.pk %}">Details</a>
                </td>
            </tr>

        {% empty %}
            <tr>
                <td>No records</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_script %}
{% endblock %}
