:80 :443 {
    root * /srv
    file_server

    @proxy_paths {
        not path /static/*
    }

    reverse_proxy @proxy_paths http://web:8000

    log {
        output stderr
        format console
    }
}