<table class="table table-borderless">
    <thead>
    <tr>
        <th width="50%">Question</th>
        <th>Answer</th>
    </tr>
    </thead>

    <tbody>
    {% if answer_set.nationality %}
        <tr><td>Nationality</td><td>{{ answer_set.nationality.name }}</td>
    {% endif %}

    {% if answer_set.country_of_residence %}
        <tr><td>Country of Residence</td><td>{{ answer_set.country_of_residence.name }}</td></tr>
    {% endif %}

    {% if answer_set.organisation %}
        <tr><td>Organisation</td><td>{{ answer_set.organisation }}</td></tr>
    {% endif %}

    {% if answer_set.organisation_started_date %}
        <tr><td>Organisation Started Date</td><td>{{ answer_set.organisation_started_date }}</td></tr>
    {% endif %}

    {% if answer_set.project_started_date %}
        <tr><td>{{ settings.PARENT_PROJECT_NAME }} Started Date</td><td>{{ answer_set.project_started_date }}</td></tr>
    {% endif %}

    {% if answer_set.job_title %}
        <tr><td>Job Title</td><td>{{ answer_set.job_title }}</td></tr>
    {% endif %}

    {% for question, answers in question_answers.items %}
        <tr>
            <td>{{ question }}</td>
            <td>{{ answers }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>Last updated: {{ answer_set.timestamp }}</p>
