<div class="row">
    <div class="col-lg-6">
        <h2>People I've Answered Questions About</h2>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Contact Name</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for relationship in person.relationships_as_source.all %}
                <tr>
                    <td>
                        {% if relationship.is_current %}
                            {{ relationship.target }}
                        {% else %}
                            <del>
                                {{ relationship.target }}
                            </del>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info"
                            href="{% url 'people:person.detail' pk=relationship.target.pk %}">Profile</a>
                        <a class="btn btn-sm btn-info"
                            href="{% url 'people:relationship.detail' pk=relationship.pk %}">Relationship Detail</a>
                        <a class="btn btn-sm btn-success"
                            href="{% url 'people:relationship.update' pk=relationship.pk %}">Update</a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="2">No known relationships</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <h2>Organisations I've Answered Questions About</h2>

        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Organisation Name</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for relationship in person.organisation_relationships_as_source.all %}
                <tr>
                    <td>{{ relationship.target }}</td>
                    <td>
                        <a class="btn btn-sm btn-info"
                            href="{% url 'people:organisation.detail' pk=relationship.target.pk %}">Profile</a>
                        <a class="btn btn-sm btn-info"
                            href="{% url 'people:organisation.relationship.detail' pk=relationship.pk %}">Relationship Detail</a>
                        <a class="btn btn-sm btn-success"
                            href="{% url 'people:organisation.relationship.update' pk=relationship.pk %}">Update</a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="2">No known relationships</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>