{% extends 'base.html' %}

{% block extra_head %}
    {{ map_markers|json_script:'map-markers' }}

    {% load staticfiles %}
    <script src="{% static 'js/map.js' %}"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS_API_KEY }}&callback=initMap"
                        type="text/javascript"></script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'people:organisation.list' %}">Organisations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
        </ol>
    </nav>

    <h1>{{ organisation.name }}</h1>

    <hr>

    <a class="btn btn-success"
        href="{% url 'people:organisation.update' pk=organisation.pk %}">Update</a>

    <hr>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        </thead>

        <tbody>
        {% if answer_set.website %}
            <tr><td>Website</td><td>
                <a href="{{ answer_set.website }}">{{ answer_set.website }}</a>
            </td></tr>
        {% endif %}

        {% if answer_set.countries %}
            <tr><td>Countries</td><td>
                {% for country in answer_set.countries %}
                    {{ country.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}

        {% if answer_set.hq_country %}
            <tr><td>HQ Country</td><td>{{ answer_set.hq_country.name }}</td></tr>
        {% endif %}

        {% if request.user.is_superuser %}
            {% for answer in answer_set.question_answers.all %}
                <tr>
                    <td>{{ answer.question }}</td>
                    <td>{{ answer }}</td>
                </tr>
            {% endfor %}

        {% else %}
            {% for answer in answer_set.public_answers.all %}
                <tr>
                    <td>{{ answer.question }}</td>
                    <td>{{ answer }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <p>Last updated: {{ answer_set.timestamp }}</p>

    <hr>

    <div id="map" style="height: 800px; width: 100%"></div>

    <hr>

{% endblock %}
