{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Organisation</li>
        </ol>
    </nav>

    <h1>Organisations</h1>

    <hr>

    <a class="btn btn-success"
        href="{% url 'people:organisation.create' %}">New Organisation</a>

    {% with config.ORGANISATION_LIST_HELP as help_text %}
        {% if help_text %}
            <div class="alert alert-info mt-3 pb-0">
                {{ help_text|linebreaks }}
            </div>
        {% endif %}
    {% endwith %}

    <table class="table table-borderless">
        <tbody>
            {% for country, organisations in orgs_by_country.items %}
                <tr><th>{{ country }}</th></tr>

                {% for organisation in organisations %}
                    <tr>
                        <td>{{ organisation }}</td>
                        <td>
                            <a class="btn btn-sm btn-info"
                            href="{% url 'people:organisation.detail' pk=organisation.pk %}">Profile</a>

                            {% if organisation.pk in existing_relationships %}
                                <a class="btn btn-sm btn-warning"
                                    style="width: 10rem"
                                    href="{% url 'people:organisation.relationship.create' organisation_pk=organisation.pk %}">Update Relationship
                                    </a>

                            {% else %}
                                <a class="btn btn-sm btn-success"
                                    style="width: 10rem"
                                    href="{% url 'people:organisation.relationship.create' organisation_pk=organisation.pk %}">Add Relationship
                                    </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
