{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% if validlink %}

    <h1>Choose a New Password</h1>

    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" class="btn btn-info" value="Change password">
        {% endbuttons %}
    </form>

{% else %}

<p>That link isn't valid - has it already been used? You can request a new link <a href="{% url 'login' %}">here</a>.</p>

{% endif %}

{% endblock %}