{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.list' %}">People</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.detail' pk=person.pk %}">{{ person }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Create Relationship</li>
        </ol>
    </nav>

    <h1>Add Relationship</h1>

    {% with config.RELATIONSHIP_FORM_HELP as help_text %}
        {% if help_text %}
            <div class="alert alert-info mt-3 pb-0">
                {{ help_text|linebreaks }}
            </div>
        {% endif %}
    {% endwith %}

    <hr>

    <form class="form"
          method="POST">
        {% csrf_token %}

        {% load bootstrap4 %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-success" type="submit">Submit</button>
        {% endbuttons %}
    </form>

{% endblock %}
