{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">People</a></li>
            <li class="breadcrumb-item">{{ relationship.source }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ relationship.target }}</li>
        </ol>
    </nav>

    <hr>

    <div class="row align-content-center">
        <div class="col-md-6">
            <h2>Source</h2>
            {{ relationship.source }}

            <a class="btn btn-sm btn-info"
               href="{% url 'people:person.detail' pk=relationship.source.pk %}">Profile</a>
        </div>

        <div class="col-md-6">
            <h2>Target</h2>
            {{ relationship.target }}

            <a class="btn btn-sm btn-info"
               href="{% url 'people:person.detail' pk=relationship.target.pk %}">Profile</a>
        </div>
    </div>

{% endblock %}
