{% extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.list' %}">People</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'people:person.detail' pk=person.pk %}">{{ person }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ relationship.get_absolute_url }}">{{ relationship.target }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Update Relationship</li>
        </ol>
    </nav>

    <h1>Update Relationship</h1>

    {% include 'people/includes/relationship_form.html' %}

{% endblock %}

{% block extra_script %}
    {% load static %}
    <script async defer src="{% static 'js/hide_free_text.js' %}"></script>
{% endblock %}
